node_modules/
dist/
*.d.ts
*.md
*.svg
*.json
*.log
*.sh
*.yaml
*.yml
*.html
*.css
*.scss
*.sass
*.png
*.jpg
*.jpeg
*.gif
*.ico
*.eot
*.ttf
*.woff
*.woff2
*.min.*
.DS_Store
.env
.env.*
!.eslintrc.cjs
!.prettierrc
!.browserslistrc
vite.config.*
public/
